# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Environments
env/
venv/
.venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env variables
.env

# Python build
build/
dist/
*.egg-info/

# Docker
docker-compose.override.yml

# Uploads (if any)
uploads/
